<h1>Your UFund Reward List</h1>
<h2>Rewards for Donations</h2>
<h3>The requirement of a donation reward must be between 0 and {{this.MAXREQ}} points.</h3>
<h3>Type and Name can only be {{this.MAXLEN}} characters long.</h3>
<div *ngFor = "let error of this.donationManagementErrorMessage">
    <h4>{{error}}</h4>
</div>
<label for = "donationRewards">Name | Requirement</label>
<ul class = "donationRewards">
    <li *ngFor="let reward of donationRewards">
        <button type = "button" (click) = "selectDonationReward(reward)">
            <span class = "attr">{{reward.name}}  |   </span>
            <span class = "attr">{{reward.requirement}}  |   </span>
            </button>
        <button type = "button" (click) = "deleteDonationReward(reward.name)">X</button>
            <br>
    </li>
</ul>
<br>
<form id = "donationRewardCreate" (ngSubmit)="getNewDonationRewardData()">
    <input type = "text" name = "donationRewardInput" value = {{selectedDonationReward.name}}>
    <span class = "attr"> | </span>
    <input type = "text" name = "donationRewardInput" value = {{selectedDonationReward.requirement}}>
    <br>
    <input type = "submit" value = "Create or Update">
</form>