<h1>Your UFund Reward List</h1>
<h2>Rewards for Donations</h2>
<div class = donation-rewards>
<label for = current-list>Name | Cost Requirement</label>
<ul class = current-list>
    <li *ngFor="let reward of donationRewards" class = "current-list">
        <button type = "button" (click) = "selectDonationReward(reward)">
            <span class = "attr">{{reward.name}}  |   </span>
            <span class = "attr">{{reward.requirement}}     </span>
            </button>
        <button type = "button" (click) = "deleteDonationReward(reward.name)">X</button>
            <br>
    </li>
</ul>
</div>
<br>
<form class = donation-rewards (ngSubmit)="getNewDonationRewardData()">
    <input type = "text" name = "donationRewardInput" value = {{selectedDonationReward.name}}>
    <input type = "text" name = "donationRewardInput" value = {{selectedDonationReward.requirement}}>
    <br>
    <input type = "submit" value = "Create or Update">
</form>