<!--Need page to denote where to go next.-->
<!--Given an immediate new request...-->
<!--Automatically authenticate the existing user.-->
<!--The page components switch and save properly! Just need to figure out how I messed up the mock database.-->
<h1>{{title}}</h1>
<nav>
</nav>
<!--Log in interface here! Should get the user data.-->
<app-signin-login-screen (person)="getData($event)"></app-signin-login-screen>
<ng-template [ngIf] = "isHelper()"><div><app-helper-screen></app-helper-screen></div></ng-template>
<ng-template [ngIf] = "isManager()"><div><app-cupboard></app-cupboard></div></ng-template>
<ng-template [ngIf] = "noAccount()"><div>Render nothing.</div></ng-template>
<!--When new data is received, possibly automatically change some part of the page.-->
<!--router-outlet></router-outlet-->
<!--app-dashboard></app-dashboard-->
<app-messages></app-messages>