<h2>Needs</h2>
<label for="type-search"> Search by type: </label>
<input id="type-search" [(ngModel)]="searchTerm" placeholder="">
<button type="button" (click)="filter()">Filter needs</button>
<label for = "needs">Name | Type | Cost | Quantity</label>
<ul class = "needs">
    <li *ngFor="let need of needsDisplayed">
        <button type = "button" (click) = "addToFundingBasket(need)">
            <span class = "attr">{{need.name}}  |   </span>
            <span class = "attr">{{need.type}}  |   </span>
            <span class = "attr">{{need.cost}}  |   </span>
            <span class = "attr">{{need.quantity}}  </span>
            </button>
            <br>
    </li>
</ul>
<br>