<h2>{{this.getWelcome()}}</h2>
<nav>
    <a routerLink="{{this.getLogin()}}">Log in</a>
    <ng-template [ngIf] = "(manager === true)">
        <div>
            <a routerLink="{{this.getDonationManagement()}}">Rewards Management</a>
            <a routerLink="{{this.getCupboard()}}">Need Management</a>
        </div>
    </ng-template>
    <ng-template [ngIf] = "(manager === false)">
        <div>
            <a routerLink="{{this.getChoices()}}">Needs</a>
            <a routerLink="{{this.getCheckout()}}">Checkout</a>
            <a routerLink="{{this.getReward()}}">Rewards</a>
        </div>
    </ng-template>
    <!--app-signin-login-screen (person) = "getData($event)"--><!--/app-signin-login-screen-->
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>