<h3>Click on the needs to add them to your funding basket.</h3>
<h3>The search box below allows you to filter needs based on type.</h3>
<h3>Submit an empty text box (no text) to see all of your needs again.</h3>
<label for = "search-box">Need Search</label>
<input type = "text" name = "needInput" [(ngModel)] = "this.searchTerm" placeholder = "">
        <button type = "button" (click) = "filter()">
            <span class = "searchButton">Press to search</span>
        </button>
<h4>{{this.choiceErrorMessage}}</h4>
<ul class = "needs">
    <label for = "needs">Name | Type | Cost | Quantity</label>
    <li *ngFor="let need of needsDisplayed">
        <button type = "button" (click) = "addToFundingBasket(need)">
            <span class = "attr">{{need.name}}  |   </span>
            <span class = "attr">{{need.type}}  |   </span>
            <span class = "attr">{{need.cost}}  |   </span>
            <span class = "attr">{{need.quantity}}  </span>
        </button>   
        <br>
    </li>
</ul>
<br>