<ul class = "needs">
    <h3>Click on the needs to add them to your funding basket.</h3>
    <label for = "needs">Name | Type | Cost | Quantity</label>
    <li *ngFor="let need of needsDisplayed">
        <button type = "button" (click) = "addToFundingBasket(need)">
            <span class = "attr">{{need.name}}  |   </span>
            <span class = "attr">{{need.type}}  |   </span>
            <span class = "attr">{{need.cost}}  |   </span>
            <span class = "attr">{{need.quantity}}  </span>
            </button>   
            <br>
    </li>
</ul>
<br>
<div><app-checkout-page [name] = "name"></app-checkout-page>