<h1>Your UFund Needs Cupboard</h1>

<div *ngFor = "let error of this.cupboardErrorMessage">
    <h4>{{error}}</h4>
</div>
<div id = manage-needs>

<label for = "needs">Name | Type | Cost | Quantity</label>
<ul class = "needs">
    <li *ngFor="let need of needs">
        <button type = "button" (click) = "selectNeed(need)">
            <span class = "attr">{{need.name}}  |   </span>
            <span class = "attr">{{need.type}}  |   </span>
            <span class = "attr">{{need.cost}}  |   </span>
            <span class = "attr">{{need.quantity}}  </span>
            </button>
        <button type = "button" (click) = "deleteNeed(need)">X</button>
            <br>
    </li>
</ul>
<br>
<label for = need-create>Enter data below to create or edit a need!</label>
<h4>Type and Name can only be {{this.MAXLEN}} characters long.</h4>
<form id = need-create (ngSubmit)="getNewNeedData()">
    
    <input type = "text" name = "needInput" value = {{selectedNeed.name}}>
    <input type = "text" name = "needInput" value = {{selectedNeed.type}}>
    <input type = "text" name = "needInput" value = {{selectedNeed.cost}}>
    <input type = "text" name = "needInput" value = {{selectedNeed.quantity}}> 
    <br>
    <input type = "submit" value = "Create or Update">
</form>
</div>