<!--Should be able to add a reward or something like that.-->
<h2>Donation Rewards</h2>
<ng-template [ngIf] = "(user !== undefined)"><div id="donated-amount"><h3>{{this.displayTotalDonated()}}</h3></div></ng-template>
<div class="donation-system">
    <!--Calling the getDonations() here causes infinite loop of requests sent. Why?-->
    <h4>Rewards that currently exist:</h4>
    <li *ngFor="let donationReward of allRewards" class = "reward-list">
        <p>{{this.displayReward(donationReward)}}</p>  
    </li>
    <h4>Rewards you can get:</h4>
    <li *ngFor="let donationName of rewardsAvailable" class = "reward-list">
        <button type = "button" (click) = "addDonation(donationName)">{{donationName}}</button>
    </li>
</div>