<h1>Your Funding Basket</h1>
<div id="needs-list">
<label for = "needs" class = "need-label">Name | Type | Cost | Quantity</label>
<ul class = "needs">
    <li *ngFor="let need of getFundingBasket()" class>
        <button type = "button">
            <span class = "attr">{{need.name}}  |   </span>
            <span class = "attr">{{need.type}}  |   </span>
            <span class = "attr">{{need.cost}}  |   </span>
            <span class = "attr">{{need.quantity}}  </span>
            </button>
        <button type = "button" (click) = "removeFromBasket(need)">Remove need</button>
            <br>
    </li>
    <p>Refresh page to see your updated funding basket.</p>
    <button type = "button" (click) = "checkout()" routerLink="">Click to check out</button>
    
    <p>{{emptiedDisplay}}</p>
</ul>
</div>
<br>