<h1>Your Funding Basket</h1>

<div id = needs-list>
<label for = "needs">Name | Type | Cost</label>

<ul class = "needs">
    <li *ngFor="let need of getFundingBasket()" class>
        <button type = "button">
            <span class = "attr">{{need.name}}  |   </span>
            <span class = "attr">{{need.type}}  |   </span>
            <span class = "attr">{{need.cost}}</span>
            </button>
        <button type = "button" (click) = "removeFromBasket(need)">Remove need</button>
            <br>
    </li>

    <h4>{{this.totalCostDisplay}}</h4>
    <button type = "button" (click) = "checkout()">Click to check out</button>
    <p>{{this.emptiedDisplay}}</p>

</ul>
</div>
<br>