<!--Should either load the manager frontend or the helper frontend.-->

<ng-template [ngIf] = "(this.user == undefined)"><div>
    <h1>User Sign up</h1>
    <label for="user-name"> User name: </label>
    <input id="user-name" [(ngModel)]="signInName" placeholder="name">
    <button type="button" (click)="signIn()">Sign up</button>
    <p>{{this.signInErrorMessage}}</p>
</div></ng-template>


<ng-template [ngIf] = "(this.user == undefined)"><div>
    <h1>User login</h1>
    <label for="user-name"> User name: </label>
    <input id="user-name" [(ngModel)]="logInName" placeholder="name">
    <button type="button" (click)="logIn()">Log in</button>
    <p>{{this.logInErrorMessage}}</p>
</div></ng-template>


<ng-template [ngIf] = "(this.user != undefined)"><div>
    <h1>Log Out</h1>
    <button type="button" (click)="logOut()">Log out</button>
</div></ng-template>