<h2>Event Schedule</h2>
<div class="Event">
  <label for = "Event">Name | date | time</label>
  <ul class = "Event">
    <li *ngFor="let event of events">
        <button type = "button" (click) = "selectEvent(event)">
            <span class = "attr">{{event.name}}  |   </span>
            <span class = "attr">{{event.date}}  |   </span>
            <span class = "attr">{{event.time}}  |   </span>
            </button>
        <button type = "button" (click) = "deleteEvent(event)">X</button>
            <br>
    </li>
  </ul>
  <br>
<br>
<form id = "EventCreate" (ngSubmit)="getNewEventData()">
    <input type = "text" name = "needInput" value = {{selectedEvent.name}}>
    <input type = "text" name = "needInput" value = {{selectedEvent.date}}>
    <input type = "text" name = "needInput" value = {{selectedEvent.time}}>
    <br>
    <input type = "submit" value = "Create or Update">
</form>